/* =========================================
   HOME CONTAINER
========================================= */

.home-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
}


/* =========================================
   DEFAULT SNAP SECTIONS
========================================= */

.snap-section {
  position: relative;
  height: 100vh;
  display: block;
  overflow: hidden;
  background-color: #ffffff;
}


/* =========================================
   STICKY ANIMATED LAYER
========================================= */

.section-inner {
  position: sticky;
  top: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: center center;
  will-change: transform, opacity, filter;

  z-index: 1;

  transition:
    opacity 220ms linear,
    transform 220ms cubic-bezier(.2,.8,.2,1);
}

.section-inner.active {
  z-index: 5;
}


/* =========================================
   AUTO HEIGHT SECTIONS (NO STICKY)
========================================= */

.snap-auto {
  height: auto !important;
  min-height: auto;
  overflow: visible;
  background: transparent;
}

.section-auto {
  position: relative !important;
  height: auto !important;

  display: block !important;

  transform: none !important;
  opacity: 1 !important;
  filter: none !important;

  transition: none !important;
}


/* =========================================
   SECTION BACKGROUNDS
========================================= */

.hero-section {
  background-color: #ffffff;
}

.statement-section {
  background-color: #f3f3f3;
}

.vision-section {
  background-color: #ffffff;
}

.sethmo-section-wrapper {
  background-color: #ffffff;
}

.pillars-section {
  background: #ffffff;
}


/* =========================================
   REMOVE IMAGE INLINE GAP
========================================= */

img {
  display: block;
  max-width: 100%;
}


/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 1024px) {

  .section-inner {
    padding: 0;
    justify-content: center;
  }

  .snap-section {
    height: 100vh;
  }

}
