/* =========================================
   MASTER APP LAYOUT
========================================= */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  flex-grow: 1; /* Pushes the footer to the bottom of the page */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}